<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Raleway:900|Montserrat:700" rel="stylesheet">


		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>


    <!--sliderbox-->

    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/css/slicebox.css" />
		<link rel="stylesheet" type="text/css" href="/css/custom.css" />
		<script type="text/javascript" src="/js/modernizr.custom.46884.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Projeto 8</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="loading">


    <script src='/js/anime.min.js'></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>


    

   





      <div class="frame">
        <div class="frame__title-wrap">
          <h1 class="frame__title">SMASHROOM</h1>
          <nav class="frame__links">
            <a href="http://tympanus.net/Development/3DLettersMenuHover/">Previous demo</a>
            <a href="https://tympanus.net/codrops/?p=54377">Article</a>
            <a href="https://github.com/mbarker84/codrops-masked-hero">GitHub</a>
          </nav>
        </div>
      </div>

        <!-- the content -->
        <header>
          <button class="menu-button" data-btn="menu" aria-label="menu">
            <span class="menu-button__icon">
              <span></span>
            </span>
          </button>
          <nav class="menu" data-menu>
            <ul>
              <li>
                <a href="">About me</a>
              </li>
              <li>
                <a href="">Projects</a>
              </li>
              <li>
                <a href="">Writing</a>
              </li>
            </ul>
          </nav>
        </header>

        <div style="position: absolute; width: 100%;">
        <div class="wrapper">
          <div class="hero hero--primary">
            <div class="container">
              <h1 class="hero__heading" data-splitting>
                Bem vindx <br/>Ao meu <br />Site
              </h1>
            </div>
          </div>

          <div class="hero hero--secondary" aria-hidden="true" data-hero>
            <div class="container">
              <p class="hero__heading" data-splitting>
                Bem vindx <br/>Ao meu <br />Site
              </p>
            </div>
          </div>
        </div>

      </div>
  

        <div class="content" style="width: 100%; position: relative; background-color: transparent;"> 
          <img src="/images/smash.png" style="z-index: 999;;position: absolute; width: 500PX; bottom: (50%-600px); right: (50%-300px);left: (50%-300px);top: 45%;"/>
          <img src="/images/smashbg.png"  class="floatinglow" id="minha-imagem" alt="Minha imagem" style="opacity: 80%;z-index: -1;position: absolute; width: 120%; bottom: -5px;	-webkit-mask-image: linear-gradient(to bottom, transparent 50%, black 75%);"/>

<script src="/js/s1.js">

</script>






          <img src="/images/222.png"  class="floating" style="position: absolute; width: 260PX; bottom: (50%-200px); right: (50%-300px);left: (50%-300px);top: (50%-350px);"/>
          <img src="/images/11.png" style="position: absolute; width: 80%; bottom: -3px; right: -50px;"/>   </div>

<div class="demo-3" >
  <main>
    <div class="overlay2"></div>
    <div class="slideshow">
      <div class="slide">
        <div class="mirror" data-tilt>
          <div class="mirror__side mirror__side--one">
            <img class="mirror__img" src="/images/s1.png" alt="Some image" />
          </div>
          <div class="mirror__side mirror__side--two">
            <img class="mirror__img" src="/images/s1.png" alt="Some image" />
          </div>
        </div>
        <h2 class="slide__title"><img width="900px" src="/images/des.png"/><p style="font-size:20px;background-color: black;">Altamente criativas e com auxilio das mais poderosas ferramentas de design do mercado, nossas artes visuais são inovadoras e se inspiram no mais atual que se encontra em toda internet.</p></h2>
      </div>
      <div class="slide">
        <div class="mirror" data-tilt>
          <div class="mirror__side mirror__side--one">
            <img class="mirror__img" src="/images/s12.png" alt="Some image" />
          </div>
          <div class="mirror__side mirror__side--two">
            <img class="mirror__img" src="/images/s12.png" alt="Some image" />
          </div>
        </div>
        <h2 class="slide__title"><img width="1000px" src="/images/cod.png"/><p style="font-size:20px;background-color: black;">Desenvolvimento de códigos para aplicativos e sites buscam melhorar experiencias de trabalhos, rentabilidade, organização, faturamento e diversos outros benefícios. Linguagem como JavaScript, ThreeScript, Blender, Ruby, Css, python ou qualquer demais ferramenta pode ser viável e explorado por nossa equipe mediante que temos todas capacidades necessárias.</p></h2>
      </div>
      <div class="slide">
        <div class="mirror" data-tilt>
          <div class="mirror__side mirror__side--one">
            <img class="mirror__img" src="/images/s3.png" alt="Some image" />
          </div>
          <div class="mirror__side mirror__side--two">
            <img class="mirror__img" src="/images/s3.png" alt="Some image" />
          </div>
        </div>
        <h2 class="slide__title"><img width="1000px" src="/images/upl.png"/><p style="font-size:20px;background-color: black;">Uso de NodeJS ou php junto a sistemas de banco de dados para poder colocar todos sites no ar hospedados com manutenções frequentes e de qualidade.</p></h2>
      </div>
      <div class="slide">
        <div class="mirror" data-tilt>
          <div class="mirror__side mirror__side--one">
            <img class="mirror__img" src="/images/s4.png" alt="Some image" />
          </div>
          <div class="mirror__side mirror__side--two">
            <img class="mirror__img" src="/images/s4.png" alt="Some image" />
          </div>
        </div>
        <h2 class="slide__title"><img width="700px" src="/images/sec.png"/><p style="font-size:20px;background-color: black;">Trabalho de pentest com Kali Linux, SQL Injection, e diversas outras ferramentas que buscam observar e sanar vulnerabilidades dos sites de clientes.</p></h2>

      </div>	
      <nav class="slideshow__nav slideshow__nav--inline" style="text-align: top; top:15px;">
        <button class="btn btn--nav">D</br>E</br>S</br>I</br>G</br>N</button>
        <button class="btn btn--nav">C</br>O</br>D</br>I</br>N</br>G</button>
        <button class="btn btn--nav">D</br>E</br>P</br>L</br>O</br>Y</br>I</br>N</br>G</button>
        <button class="btn btn--nav">S</br>E</br>C</br>U</br>R</br>I</br>T</br>Y</button>
      </nav>
    </div><!-- /slideshow -->
  </section>
</main>

<script src="/js/mirrorFx.js"></script>
<script src="/js/slideshow.js"></script>
<script src="/js/s2.js">

</script>







</div>




    <div class="container">
      <section class="bg-top">
        
        <div class="container fix-zindex">
        <div class="texto-bg">
          <div class="overlay"></div>
            <div class="row">
              
                <div style="display: block;text-align: center;left: 5px; right: 5px;z-index: 3;padding:10px;border-radius: 10px;background-color:  rgb(83,56,143); color: rgb(253,206,64)" class="col-md-6 padding30">
                    <img src="/images/qseu.png">
                    <p >Desenvolvedor front e back-end, trabalho com as linguagens HTML, CSS moderno, JavaScript, ReactJS, NodeJS e diversas variantes de java, entre elas integração com blender, trabalho também com PHP e Python. Linux básico e Kali Linux para teste de pentest(Hacking Ético), SQL-Injection. Para trabalhos de entrega rápida também trabalho com WordPress. Tenho extrema disposição e qualificação para aprender demasiadas linguagens necessárias para o serviço em questão. Proficiência em Adobe Photoshop, Corel Draw. Atualmente Sou Analista e Desenvolvedor de Softwares formado pela UNIBTA através do PROUNI. Fiz diversos cursos disponíveis entre diversas escola como Danki Code e Alura. Sou Fundador e coder do site Arkhangel. Vendo sites e apps por serviço freelancer ou você pode me contratar para sua empresa.</p>
                    <div style="margin:auto; width: 80%;text-align: center;">
                    <button  style="margin: 10px;width: 100%;" class="button-74" role="button">Acessar Linkedin</button>
                    <button style="margin: 10px;width: 100%;" class="button-74" role="button">Comprar site</button>
                    <button style="margin: 10px;width: 100%;" class="button-74" role="button">Me Contratar</button>
                  </div>
          
                  </div>
  
                <div class="col-md-6">
                   <img src="/images/hero2.png" style="position: absolute; height: 700px; z-index: 2;top: -40px; left: 20px;" class="floating"/>
                  </div>
                </div>
  
               </div>
  
            </div>
        </div>
        <script src="/dist/js.00a46daa.js"></script>
        <script src="/js/indox.js"></script>
        <script src="https://tympanus.net/codrops/adpacks/cda.js"></script>
    
    
    
    
    
    
        <div class="box-fix">
        
        
        <section class="chamada">
          <div class="container" style="text-align: center;">
            <img src="/images/melhoresprojetos.png" style="width: 400px;"/>
          </div>
        </section><!--chamada-->
    </div>
    
  
        <div class="container">
    
          <div class="wrapper">
    <div class="floating">
            <ul id="sb-slider" class="sb-slider">
              <li>
                <a href="http://www.flickr.com/photos/strupler/2969141180" target="_blank"><img src="/images/1.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Creative Lifesaver</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968268187" target="_blank"><img src="/images/2.jpg" alt="image2"/></a>
                <div class="sb-description">
                  <h3>Honest Entertainer</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968114825" target="_blank"><img src="/images/3.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Brave Astronaut</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968122059" target="_blank"><img src="/images/4.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Affectionate Decision Maker</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2969119944" target="_blank"><img src="/images/5.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Faithful Investor</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968126177" target="_blank"><img src="/images/6.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Groundbreaking Artist</h3>
                </div>
              </li>
              <li>
                <a href="http://www.flickr.com/photos/strupler/2968945158" target="_blank"><img src="/images/7.jpg" alt="image1"/></a>
                <div class="sb-description">
                  <h3>Selfless Philantropist</h3>
                </div>
              </li>
            </ul>
          </div>
            <div id="shadow" class="shadow"></div>
    
            <div id="nav-arrows" class="nav-arrows">
              <a href="#">Next</a>
              <a href="#">Previous</a>
            </div>
    
            <div id="nav-dots" class="nav-dots">
              <span class="nav-dot-current"></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
    
          </div><!-- /wrapper -->
    
          <p class="info"><strong>Example 1:</strong> Default settings</p>
    
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.slicebox.js"></script>
        <script type="text/javascript" src="/js/s3.js">

        </script>
      </section>






    


    <section style="background: rgb(83,56,143); z-index: 20;" class="sobre">
      
      <!-- Trigger the modal with a button -->
      <div style="z-index: 2;" class="container">

      <div class="row">

      <div class="col-md-12">
      <div class="custom-title">
        <div></div>
        <h2>Sobre</h2>
      </div><!--custom-title-->

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit iaculis ante vel tempor. Maecenas convallis commodo eros quis varius. Suspendisse luctus vehicula sem, a malesuada mi fringilla id. Nulla laoreet vitae sapien a dignissim. Suspendisse vitae dapibus orci. Sed vitae suscipit ipsum. Phasellus malesuada erat et erat eleifend, id faucibus sem ultrices. Proin dignissim nibh lorem, nec consectetur velit euismod non. Integer co...</p>

      <div class="text-center"><button style="color:rgb(83,56,143);" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Saiba mais!</button></div>

      </div><!--col-->
      </div>
      </div><!--container-->

        <!-- Modal -->
    </section><!--sobre-->

   




















   
<main>

    <div class="content">
      <img src="/images/bgtraj.jpg" style="opacity: 0.2;z-index: 0;opacity: 80%;position: absolute; height: 5000px; top: -15px;	-webkit-mask-image: linear-gradient(to top, transparent 50%, black 75%);"/>
      <!-- Pieces Slider -->
      <div class="pieces-slider">
        <!-- Each slide with corresponding image and text -->
        <div class="pieces-slider__slide">
          <img class="pieces-slider__image" src="/img/1.jpg" alt="">
          <h2 class="pieces-slider__text">Determinação</h2>
        </div>
        <div class="pieces-slider__slide">
          <img class="pieces-slider__image" src="/img/2.jpg" alt="">
          <h2 class="pieces-slider__text">Criatividade</h2>
        </div>
        <div class="pieces-slider__slide">
          <img class="pieces-slider__image" src="/img/3.jpg" alt="">
          <h2 class="pieces-slider__text">Inovação</h2>
        </div>
        <div class="pieces-slider__slide">
          <img class="pieces-slider__image" src="/img/4.jpg" alt="">
          <h2 class="pieces-slider__text">Resiliência</h2>
        </div>
        <div class="pieces-slider__slide">
          <img class="pieces-slider__image" src="/img/5.jpg" alt="">
          <h2 class="pieces-slider__text">Foco</h2>
        </div>
        <!-- Canvas to draw the pieces -->
        <canvas class="pieces-slider__canvas"></canvas>
        <!-- Slider buttons: prev and next -->
        <button class="pieces-slider__button pieces-slider__button--prev"><</button>
        <button class="pieces-slider__button pieces-slider__button--next">></button>
      </div>

  </main>

  <script src='/js/pieces.min.js'></script>
  <script src='/js/demo.copy.js'></script>




    <!-- the content -->


    <div style="margin-bottom: 150px; padding-bottom: 100px; height: 150px; " class="wrapper">

      <div  class="hero hero--primary">

          <h1  style="margin-left: 30%" class="hero__heading" data-splitting>
            Trajetória
          </div>
</div>
      </div>



    










			<section style="margin-left: 10%" class="section section--intro">

					<div  id="frag-1" class="fragment-wrap" style="background-image: url(img/12.jpg)"></div>
					<h2 class="title">Conheci a Lógica de Programação</h2>
					<p class="text"><span class="deco-bg deco-bg--color-1">Muito cedo me interessei por por programação de jogos através de ruby e ferramentas como RPG Maker, comecei pequenos estudos sobre design ferramentas básicas como Photoshop, e html simples. Na época a linguagem de flash e essa ferramenta ainda era usada para webdesign.</span></p>

			</section><!-- /intro -->
			<section class="section section--flow">
			
					<div id="frag-2" class="fragment-wrap fragment-wrap--right" style="background-image: url(img/22.jpg)"></div>
					<h2 class="title title--left">Faculdade e Cursos</h2>
					<p class="text text--left"><span class="deco-bg deco-bg--color-2">Através do Prouni entrei na faculdade e com alguns parceiros consegui os primeiros cursos de front-end e introdução ao Back-End. Fiz alguns cursos pela Danki Code e estudo por conta em forúns internacionais.</span></p>
			
			</section>
			<section class="section section--flow">
		
					<div id="frag-3" class="fragment-wrap" style="background-image: url(img/32.jpg)"></div>
					<h2 class="title">Ciber-Segurança</h2>
					<p class="text"><span class="deco-bg deco-bg--color-3">Comecei a prática Linuz e Kali linux para pentest nos sites que eu desenvolvia a fim de verificar falhas. Me aprimorei no meio com alguns estudos também em Termux, navegação pelos forúns de programação do exterior na internet mais profunda desenvolvendo novas técnicas e acesso a cursos e livros.</span></p>
		
			</section>
			<section class="section section--flow">

					<div id="frag-4" class="fragment-wrap fragment-wrap--right" style="background-image: url(img/42.jpg)"></div>
					<h2 class="title title--left">Aperfeiçoamento</h2>
					<p class="text text--left"><span class="deco-bg deco-bg--color-4">Buscando sempre melhorar as boas práticas e desenvolver formas simples de trazer o produto final em qualidade e segurança ao cliente ou empresa, estou sempre buscando me aperfeiçoar.</span></p>

			</section>
			<section class="section section--flow">
		
					<div id="frag-5" class="fragment-wrap" style="background-image: url(img/52.jpg)"></div>
					<h2 class="title">Disposição para novos campos de atuação</h2>
					<p class="text"><span class="deco-bg deco-bg--color-5">Nada que me impeça em aprender uma nova linguagem ou novas tecnicas para realizar um serviço.</span></p>
			
			</section>


		<script src="/js/main.js"></script>

		<script>
			(function() {
				imagesLoaded(document.querySelectorAll('.fragment-wrap'), { background: true }, function() {
					document.body.classList.remove('loading');
					new FragmentsFx(document.getElementById('frag-1'), {
						fragments: 20,
						boundaries: {x1: 250, x2: 75, y1: 50, y2: 50},
						randomIntervals: {
							top: {min: 0,max: 90},
							left: {min: 0,max: 90},
							dimension: {
								width: {min: 30,max: 50, fixedHeight: 10},
								height: {min: 30,max: 50, fixedWidth: 10}
							}
						},
						parallax: true
					});
					new FragmentsFx(document.getElementById('frag-2'), {
						fragments: 20,
						boundaries: {x1: 250, x2: 75, y1: 50, y2: 50},
						randomIntervals: {
							top: {min: 0,max: 90},
							left: {min: 0,max: 90},
							dimension: {
								width: {min: 30,max: 50, fixedHeight: 10},
								height: {min: 30,max: 50, fixedWidth: 10}
							}
						},
						parallax: true
					});
					new FragmentsFx(document.getElementById('frag-3'), {
						fragments: 20,
						boundaries: {x1: 50, x2: 300, y1: 0, y2: 0},
						randomIntervals: {
							top: {min: 0,max: 40},
							left: {min: 0,max: 90},
							dimension: {
								width: {min: 10,max: 50, fixedHeight: 0.5},
								height: {min: 5,max: 10, fixedWidth: 5}
							}
						},
						parallax: true,
						randomParallax: {min: 30, max: 300}
					});
					new FragmentsFx(document.getElementById('frag-4'), {
						fragments: 20,
						boundaries: {x1: 250, x2: 75, y1: 50, y2: 50},
						randomIntervals: {
							top: {min: 0,max: 90},
							left: {min: 0,max: 90},
							dimension: {
								width: {min: 30,max: 50, fixedHeight: 10},
								height: {min: 30,max: 50, fixedWidth: 10}
							}
						},
						parallax: true
					});
					new FragmentsFx(document.getElementById('frag-5'), {
						fragments: 20,
						boundaries: {x1: 50, x2: 300, y1: 0, y2: 0},
						randomIntervals: {
							top: {min: 0,max: 40},
							left: {min: 0,max: 90},
							dimension: {
								width: {min: 10,max: 50, fixedHeight: 0.5},
								height: {min: 5,max: 10, fixedWidth: 5}
							}
						},
						parallax: true,
						randomParallax: {min: 30, max: 300}
					});
				});
			})();
		</script>






<section class="diferenciais">
  <div class="container">
<div class="custom-title">
  <div style="top:10px;left:12px;"></div>
  <h2 style="border-bottom: 0;">Nossos diferenciais</h2>
</div><!--custom-title-->
      <div class="row">
          <div class="col-md-4 text-center">
              <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon1.png"/></h2>
              <p>Buscamos sempre o que há mais de inovador em html e linguagem de design basicas, fugindo da mesmice e padrões buscamos sempre explorar a capacidade maxima da imaginação e desenvolvimento lógico. Sem preguiça ou mediocridade. Trabalhamos sempre em conformidade com as boas práticas e busca de responsividade, velocidade e qualidade em nossos serviços, Além do claro desenvenvolvimento visual.</p>
          </div><!--col-md-4-->

          <div class="col-md-4 text-center">
              <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon2.png"/></h2>
              <p>Sempre atualizados com o que há de mais novo em modern CSS buscamos sempre inovar e surpreender. Também entendemos a necessidade da entrega da demanda em prazo rápido por isso também trabalhamos com qualidade em Wordpress também.</p>
          </div><!--col-md-4-->

            <div class="col-md-4 text-center">
              <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon3.png"/></h2>
              <p>Desenvolvimento de Design em vetores pelo Corel Draw ou Illustrator, desenvolvimento de arte para site, apps, capas, folhetos, banners etc.</p>
          </div><!--col-md-4-->
          <div class="col-md-4 text-center">
            <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon4.png"/></h2>
            <p>desenvolvimento de artes bitmap em alta qualidade co profissionalismo em Photoshop, extrema experiência e prática.</p>
        </div><!--col-md-4-->

        <div class="col-md-4 text-center">
            <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon5.png"/></h2>
            <p>Aplicações desenvolvidas em NodeJS para diversos uso, direcionamento, scripts diversos, trabalhos no servidor. Também temos alto desempenho em outras linguagens relacionadas como ThreeJS, ReactJS entre outras.</p>
        </div><!--col-md-4-->

          <div class="col-md-4 text-center">
            <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon6.png"/>
              </h2>
            <p>Integração com ferramentas poderosissimas através de ThreeJS podemos aplicart até mesmo modelos 3D de blender para seu app, site, game.</p>
        </div><!--col-md-4-->
        <div class="col-md-4 text-center">
          <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon8.png"/>
            <img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon9.png"/></h2>
          <p>Especializado em Java, conhecimento em Linux. Disposto a qualquer serviço seja front-end ou back-end ou trabalho em banco de dados.</p>
      </div><!--col-md-4-->

      <div class="col-md-4 text-center">
          <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon10.png"/>
            <img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon11.png"/></h2>
          <p>Conhecimento em PHP para integração com banco de dados ou trabalho de direcionamento back-end. Python básico para aplicações diversas entre elas progrmas integrados com Linux ou Kali Linux.</p>
      </div><!--col-md-4-->

        <div class="col-md-4 text-center">
          <h2><img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon12.png"/>
            <img width="50px" style="filter: invert(100%) opacity(90%)  drop-shadow(2px 2px 2px rgb(253,206,64));" src="/images/icon13.png"/></h2>
          <p>Desenvolvimento com banco de dados Relacionais ou Não relacionais. Trabalho de Hacking por Kali Linux. Faz nossa empresa ser complta do fronte-end até o back, passando pelos banco de dados e finalmente finalizando com deploy e testes de segurança.</p>
      </div><!--col-md-4-->

      </div><!--row-->
  </div><!--container-->


</section><!--diferenciais-->


<section class="convite">
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2><i class="fa fa-bell-o" aria-hidden="true"></i> Participe da nossa lista!</h2>
            </div><!--col-->
            <div class="col-md-6 text-center">
                <form>
                  <div class="form-group">
                      <input type="email"><button type="submit" class="btn btn-default">Entrar!</button>
                  </div>
                </form>
            </div>
        </div><!--row-->
    </div><!--container-->

</section><!--convite-->



<section class="contato">
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="custom-title">
            <div></div>
            <h2>Fale conosco</h2>
        </div>

       <form>
       <div class="form-group">
          <label>Nome:</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>E-mail:</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Sua mensagem:</label>
          <textarea class="form-control"></textarea>
        </div>
        <button style="color: rgb(83,56,143);color: white;" type="submit" class="btn btn-default">Enviar</button>
      </form>

      </div>
    </div>
</div>


</section>

<footer>
<div class="container">
    <div class="row">
      <div class="col-md-6">
      <h2>Nossa história</h2>
      <p>elerisque, diam turpis dapibus mi, eget mattis eros massa in quam. Sed nec ex ac magna tempor ultricies. Curabitur ut fermentum ex. Proin nec tempus nibh, non luctus nisi. Sed finibus aliquet ornare. Duis ullamcorper enim lobortis tortor sodales</p>
      </div>
        <div class="col-md-3">
          <h2>Redes sociais:</h2>
          <div class="group-btns">
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
          </div><!--group-btns-->
        </div>

         <div class="col-md-3">
          <h2>Links úteis:</h2>
            <ul>
              <li><a href="">Link 1</a></li>
              <li><a href="">Link 2</a></li>
              <li><a href="">Link 3</a></li>
            </ul>
        </div>
    </div>
</div>
</footer>

<footer style="background:rgb(83,56,143);padding:8px 0;" class="text-center">
<p style="margin: 0;">Todos os direitos reservados</p>
</footer>


</div><!--box-fix-->




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>




  </body>
</html>